*.psd
*.ai
*.pptx
*.docx
*.indd
*.png
*.jpg
Design and Process Documentation/Physical Output/config.py
Design and Process Documentation/Physical Output/.venv
Design and Process Documentation/Data Analysis/.ipynb_checkpoints